@model ProductData

@{
	string imgPath = "~/assets/images/" + Model.ImageName_1;
}

			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @Model.Category">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src=@imgPath alt="IMG-PRODUCT" asp-append-version="true">

							<a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Id" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
								Quick View
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@Model.Id" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									@Model.Name
								</a>

								<span class="stext-105 cl3">
									@Model.Price@Model.Currency
								</span>
							</div>
						
							@if (ViewData["Title"] == "Edit")
							{
								<div class="block2-txt-child2 flex-r p-t-3">
									<a asp-controller="Product" asp-action="Update" asp-route-id="@Model.Id" class="text-dark">
										<i class="bi bi-pencil-square"></i>
									</a>
									<a asp-controller="Product" asp-action="Remove" asp-route-id="@Model.Id" class="text-danger m-l-5">
										<i class="bi bi-x-lg"></i>
									</a>
								</div>
							}	

							else
							{
								<div class="block2-txt-child2 flex-r p-t-3">
									<a asp-controller="Product" asp-action="AddCart" asp-route-id="@Model.Id" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04" src="~/assets/images/icons/icon-heart-01.png" alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/assets/images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							}							
						</div>
					</div>
				</div>
